/*
Theme Name: Faimos Child
Theme URI: https://faimos.modeltheme.com/
Template: faimos
Author: ModelTheme
Author URI: http://modeltheme.com/
Description: Influencer Marketing Marketplace Theme
Version: 1.0
Text Domain: faimos
Tags: custom-header, custom-menu, featured-images, post-formats, sticky-post
*/

/* Add your custom CSS here */
